/OperadorTernario/nbproject/private/
/OperadorTernario/build/
/VerificadorIdadeSwing/nbproject/private/
/VerificadorIdadeSwing/build/
/LeitorDePensamentos/nbproject/private/
/LeitorDePensamentos/build/
/ProgamaMedia/nbproject/private/
/ProgamaMedia/build/
/CalcularMedia/nbproject/private/
/CalcularMedia/build/
/ProgamaIdade/nbproject/private/
/ProgramaIdade/nbproject/private/
/ProgramaIdade/build/
/ProgamaParImparSwing/nbproject/private/
/ProgamaParImparSwing/build/
/VotacaoSwing/nbproject/private/
/VotacaoSwing/build/
/ProgamaPernas/ProgamaPernas/nbproject/private/
/ProgamaPernas/ProgamaPernas/build/
/ProjetoTriangulo/ProjetoTriangulo/nbproject/private/
/ProjetoTriangulo/ProjetoTriangulo/build/
/ProjetoTriangulo/UltraEmojiCombat/nbproject/private/
/Exercicio13/Ercercicio13/nbproject/private/
/Exercicio13/Ercercicio13/build/